body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

section {
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

.hidden {
    display: none;
}

input, select, button {
    width: 80%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#map {
    width: 100%;
    height: 300px;
}
